.course-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-cards h4 {
    color: #11142D;
    font-size: 16px;
    font-weight: bold;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: start; */
    justify-content: left;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); Three columns */
    grid-gap: 20px; /*Spacing between cards*/
    max-width: 960px; /* Set your desired maximum width */
    margin: 0;
}
.recommended-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    position: relative;
}
.recommended-card img {
    width: 200px;
    height: auto;
}
.recommended-card-details h5 { 
    color: #2E3F39;
    padding-top: 12px;
    margin: 0;
}
.course-update { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.course-update h6 {
    font-weight: normal;
    font-size: 8px;
    color: #9A9AB0;
}
.course-update img {
    width: 10px;
    height: 10px;
    padding-right: 2px;
    color: #F1870D;
}
.course-update div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.course-update p {
    font-weight: normal;
    font-size: 8px;
    color: #F1870D;
}
.course-duration {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.course-duration img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}
.course-duration div h6 {
    font-size: 10px;
    font-weight: normal;
    color: #9A9AB0;
    margin: 0;
    padding: 0;
}
.course-duration div p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.course-enroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.enableButton {
    background-color: #86BC24;
}
.disableButton {
    background-color: rgb(123, 125, 123);
}
.course-enroll div button {
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 60px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.seat-left {
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    color: #527415;
    background-color: #DFEACC;
    border-radius: 2px;
}
.seat-full {
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    color: #C10D0D;
    background-color: #EACCCC;
    border-radius: 2px;
}
.seat-half {
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    color: #E86F00;
    background-color: #EAE1CC;
    border-radius: 2px;
}